@import '_content/Microsoft.FluentUI.AspNetCore.Components/Microsoft.FluentUI.AspNetCore.Components.ouw50eeq2n.bundle.scp.css';

/* /Pages/Login.razor.rz.scp.css */
body[b-12n17v25wb] {
}

.centraldiv[b-12n17v25wb] {
    text-align: center;
    justify-content: center;
    height: 100vh;
}
/* /Pages/TarskyTGI.razor.rz.scp.css */
body[b-gkfsqtll5k] {
}

.screenshot1[b-gkfsqtll5k]{
    border-radius: 10px;
    height: 250px;
}
